# See more details of CODEOWNERS file here:
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# All change must be review by project owner
* @tukiminya
